body {
  margin: 0;
  background-color: #e3e3e3;
  font-family: sans-serif;
  color: #484848;
  font-size: 14px;
  text-align: center;
  user-select: none;
}
body #header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #9d5ee0;
}
body #header #github-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100px;
  margin-left: 40px;
  transition: background-color 0.4s, box-shadow 0.4s;
}
body #header #github-box:hover {
  background-color: #bc7eff;
  box-shadow: #34345f40 0px 13px 27px -5px, #0303034d 0px 8px 16px -8px;
}
body #header #github-box #github {
  margin: auto;
}
body #header #npm-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100px;
  margin-left: 40px;
  transition: background-color 0.4s, box-shadow 0.4s;
}
body #header #npm-box:hover {
  background-color: #bc7eff;
  box-shadow: #34345f40 0px 13px 27px -5px, #0303034d 0px 8px 16px -8px;
}
body #header #npm-box:hover #npm {
  opacity: 1;
}
body #header #npm-box #npm {
  margin: auto;
  height: 40px;
  width: 90px;
  opacity: 0.8;
  transition: opacity 0.4s;
}
body #left {
  width: 70%;
  min-width: 280px;
  float: left;
}
body #left #edit {
  display: flex;
  padding: 10px;
  width: 424px;
  max-width: calc(100% - 40px);
  height: 20px;
  background-color: #eeeeee;
  overflow-x: auto;
  overflow-y: hidden;
}
body #left #edit span {
  min-width: 96px;
  margin: 0 5px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #dedede;
  transition: background-color 0.4s, box-shadow 0.4s;
}
body #left #edit span:hover {
  background-color: #eeeeee;
  box-shadow: #34345f40 0px 13px 27px -5px, #0303034d 0px 8px 16px -8px;
  cursor: pointer;
}
body #left #piece-box {
  width: fit-content;
  max-width: calc(100% - 40px);
  background-color: #eeeeee;
  overflow-x: auto;
}
body #left #piece-box .piece {
  display: flex;
}
body #left #piece-box .piece .bar {
  display: flex;
}
body #left #piece-box .piece .bar:nth-child(odd) {
  background-color: #e3c8ff;
}
body #left #piece-box .piece .bar:nth-child(even) {
  background-color: #eadbfa;
}
body #left #piece-box .piece .bar .event {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 40px;
  overflow-x: hidden;
  transition: max-width 0.4s, box-shadow 0.4s;
}
body #left #piece-box .piece .bar .event.selected,
body #left #piece-box .piece .bar .event:hover {
  max-width: 80px;
  box-shadow: #34345f40 0px 13px 27px -5px, #0303034d 0px 8px 16px -8px;
  z-index: 0;
}
body #left #piece-box .piece .bar .event.cadence {
  border-right: 2px dotted #979797;
}
body #left #piece-box .piece .bar .event.end {
  border-right: 2px solid #979797;
}
body #left #piece-box .piece .bar .event.error {
  box-shadow: #34345f40 0px 13px 27px -5px, #0303034d 0px 8px 16px -8px;
}
body #left #piece-box .piece .bar .event .group {
  display: flex;
}
body #left #piece-box .piece .bar .event .group.multi .note {
  font-style: italic;
}
body #left #piece-box .piece .bar .event .group.multi .note:not(.main) {
  color: #979797;
}
body #left #piece-box .piece .bar .event .group .note {
  width: 100%;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: background-color 0.2s;
}
body #left #piece-box .piece .bar .event .group .note.selected {
  background-color: #b28cda;
}
body #left #piece-box .piece .bar .event .group .note:hover {
  background-color: #d3a9ff;
}
body #left #options {
  display: flex;
  justify-content: left;
  padding: 10px;
  height: 20px;
}
body #left #options #flatten {
  width: 20px;
  margin: 0 5px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #dedede;
  transition: background-color 0.4s, box-shadow 0.4s;
}
body #left #options #flatten:hover {
  background-color: #eeeeee;
  box-shadow: #34345f40 0px 13px 27px -5px, #0303034d 0px 8px 16px -8px;
  cursor: pointer;
}
body #left #options #key {
  width: 70px;
  margin: 0 5px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #dedede;
  transition: background-color 0.4s, box-shadow 0.4s;
}
body #left #options #key:hover {
  background-color: #eeeeee;
  box-shadow: #34345f40 0px 13px 27px -5px, #0303034d 0px 8px 16px -8px;
  cursor: pointer;
}
body #left #options #sharpen {
  width: 20px;
  margin: 0 5px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #dedede;
  transition: background-color 0.4s, box-shadow 0.4s;
}
body #left #options #sharpen:hover {
  background-color: #eeeeee;
  box-shadow: #34345f40 0px 13px 27px -5px, #0303034d 0px 8px 16px -8px;
  cursor: pointer;
}
body #left #options #harmonise {
  width: 90px;
  margin: 0 5px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #dedede;
  transition: background-color 0.4s, box-shadow 0.4s;
}
body #left #options #harmonise:hover {
  background-color: #eeeeee;
  box-shadow: #34345f40 0px 13px 27px -5px, #0303034d 0px 8px 16px -8px;
  cursor: pointer;
}
body #left #options #auto {
  width: 70px;
  margin: 0 5px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #dedede;
  transition: background-color 0.4s, box-shadow 0.4s;
}
body #left #options #auto:hover {
  background-color: #eeeeee;
  box-shadow: #34345f40 0px 13px 27px -5px, #0303034d 0px 8px 16px -8px;
  cursor: pointer;
}
body #left #options #clear {
  width: 50px;
  margin: 0 5px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #dedede;
  transition: background-color 0.4s, box-shadow 0.4s;
}
body #left #options #clear:hover {
  background-color: #eeeeee;
  box-shadow: #34345f40 0px 13px 27px -5px, #0303034d 0px 8px 16px -8px;
  cursor: pointer;
}
body #left #output-box {
  overflow-x: auto;
}
body #left #output-box #output {
  width: 100%;
  height: 240px;
}
body #right {
  width: 30%;
  min-width: 120px;
  float: right;
}
body #right #info-box {
  height: calc(100% - 200px);
}
body #right #info-box #info-header {
  height: 40px;
  line-height: 40px;
  border-radius: 10px 10px 0 0;
  background-color: #eeeeee;
  text-align: center;
}
body #right #info-box #info {
  padding: 20px;
  height: calc(100% - 80px);
  font-family: monospace;
  user-select: text;
  overflow-y: auto;
}
body #right #info-box #info::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
body #right #info-box #info::-webkit-scrollbar-track {
  background: #eeeeee;
}
body #right #info-box #info::-webkit-scrollbar-thumb {
  background-color: #dedede;
}
body #right #info-box #info::-webkit-scrollbar-thumb:hover {
  background-color: #c7c7c7;
}
.section {
  margin: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: #34345f40 0px 13px 27px -5px, #0303034d 0px 8px 16px -8px;
}
.section::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
.section::-webkit-scrollbar-track {
  background: #eeeeee;
}
.section::-webkit-scrollbar-thumb {
  background-color: #dedede;
}
.section::-webkit-scrollbar-thumb:hover {
  background-color: #c7c7c7;
}
